php_value register_globals off
RewriteEngine on
RewriteRule ^js/rek.js/?$ page/reks/outreks.php [L,QSA]
RewriteRule ^lcheck/?$ page/lcheck.php [L,QSA]
RewriteRule ^user/ref/?$ zapanel/ref.php [L,QSA]
RewriteRule ^user/ref/top/?$ zapanel/ref.php?act=top [L,QSA]
RewriteRule ^ref/([^/]*)$ /index.php?ref=$1 [L,QSA]
RewriteRule ^activ/sess/([^/]*)$ /zapanel/activ.php?sess=$1 [L,QSA]
RewriteRule ^user/inor/?$ zapanel/note.php [L,QSA]
RewriteRule ^user/email/?$ zapanel/email.php [L,QSA]
RewriteRule ^user/mail/?$ page/mail/index.php [L,QSA]
RewriteRule ^user/mail/add/?$ page/mail/new.php [L,QSA]
RewriteRule ^service/loto/?$ zapanel/loto.php [L,QSA]
RewriteRule ^info/rules/?$ modnn/info.php?act=rules [L,QSA]
RewriteRule ^info/bb/?$ modnn/info.php?act=bb [L,QSA]
RewriteRule ^info/sm/?$ modnn/info.php?act=sm [L,QSA]
RewriteRule ^info/support/?$ modnn/info.php?act=support [L,QSA]
RewriteRule ^info/server/?$ modnn/info.php?act=server [L,QSA]
RewriteRule ^info/rules/?$ modnn/info.php?act=relus [L,QSA]
RewriteRule ^info/pay/?$ modnn/info.php?act=pay [L,QSA]
RewriteRule ^info/server/?$ modnn/info.php?act=server [L,QSA]
RewriteRule ^user/chat/?$ zapanel/chat.php [L,QSA]
RewriteRule ^user/achat/?$ zapanel/ajaxchat.php [L,QSA]
RewriteRule ^user/tickets/?$ zapanel/tiket.php [L,QSA]
RewriteRule ^user/tickets/close/?$ zapanel/tiket.php?act=close [L,QSA]
RewriteRule ^user/tickets/id/([^/]*)$ zapanel/tiket.php?id=$1 [L,QSA]
RewriteRule ^user/sett/?$ zapanel/cpanel.php?act=settings [L,QSA]
RewriteRule ^user/tg/?$ zapanel/tg.php [L,QSA]
RewriteRule ^user/vds/?$ zapanel/vds/vds.php [L,QSA]
RewriteRule ^user/vds/svds/([^/]*)$ zapanel/vds/vds.php?svds=$1 [L,QSA]
RewriteRule ^user/vds/reinstall/?$ zapanel/vds/vds_reinstall.php [L,QSA]
RewriteRule ^user/vds/repass/?$ zapanel/vds/vds_chpass.php [L,QSA]
RewriteRule ^user/vds/stop/?$ zapanel/vds/vds_stop.php [L,QSA]
RewriteRule ^user/vds/start/?$ zapanel/vds/vds_start.php [L,QSA]
RewriteRule ^user/vds/reboot/?$ zapanel/vds/vds_reboot.php [L,QSA]
RewriteRule ^auth/?$ zapanel/index.php [L,QSA]
RewriteRule ^user/menu/?$ zapanel/cpanel.php [L,QSA]
RewriteRule ^user/repass/?$ zapanel/forgot.php [L,QSA]
RewriteRule ^reg/?$ zapanel/reg.php [L,QSA]
RewriteRule ^user/vxod/?$ zapanel/cpanel.php?act=enter [L,QSA]
RewriteRule ^user/exit/?$ zapanel/cpanel.php?act=exit [L,QSA]
RewriteRule ^news/?$ modnn/news.php [L,QSA]
RewriteRule ^pay/?$ modnn/ads.php [L,QSA]
RewriteRule ^pay/success/?$ modnn/ads.php?success [L,QSA]
RewriteRule ^pay/fail/?$ modnn/ads.php?fail [L,QSA]
RewriteRule ^info/?$ modnn/info.php [L,QSA]
RewriteRule ^adm/?$ adm.php [L,QSA]
RewriteRule ^adm/info/?$ adm.php?act=info [L,QSA]
RewriteRule ^adm/traf/?$ adm.php?act=monitor [L,QSA]
RewriteRule ^adm/code/?$ adm.php?act=php [L,QSA]
RewriteRule ^adm/rek/?$ adm.php?act=rek [L,QSA]
RewriteRule ^adm/sett/?$ adm.php?act=sett [L,QSA]
RewriteRule ^adm/price/?$ adm.php?act=price [L,QSA]
RewriteRule ^adm/pay/?$ adm.php?act=wm [L,QSA]
RewriteRule ^adm/money/?$ adm.php?act=money [L,QSA]
RewriteRule ^adm/moneyback/?$ adm.php?act=moneyback [L,QSA]
RewriteRule ^adm/back/?$ adm.php?act=back [L,QSA]
RewriteRule ^adm/style/?$ adm.php?act=style [L,QSA]
RewriteRule ^adm/users/id/([^/]*)$ page/user.php?id=$1 [L,QSA]
RewriteRule ^adm/users/?$ page/users.php [L,QSA]
RewriteRule ^adm/users/mail/?$ page/mail.php [L,QSA]
RewriteRule ^adm/users/ip/?$ page/ip.php [L,QSA]
RewriteRule ^adm/users/sms/?$ page/smstouser.php [L,QSA]
RewriteRule ^adm/users/allsms/?$ page/allsms.php [L,QSA]
RewriteRule ^adm/users/online/?$ page/online.php [L,QSA]
RewriteRule ^adm/users/ajaxs/?$ page/ajaxs.php [L,QSA]
RewriteRule ^ajaxsearch/?$ page/ajaxsearch.php [L,QSA]
RewriteRule ^tarifs/hosting/?$ modnn/tarifs.php?type=hosting [L,QSA]
RewriteRule ^tarifs/hosting/srv2/?$ modnn/tarifs.php?type=hosting1 [L,QSA]
RewriteRule ^tarifs/vds/?$ modnn/tarifs.php?type=vds [L,QSA]
RewriteRule ^user/hosting/?$ zapanel/hosting.php [L,QSA]
RewriteRule ^user/hosting/tarif/([^/]*)$ zapanel/hosting.php?id_tarif=$1 [L,QSA]
RewriteRule ^user/hosting/extend/([^/]*)$ zapanel/hosting.php?extend=$1 [L,QSA]
RewriteRule ^user/hosting/del/([^/]*)$ zapanel/hosting.php?del=$1 [L,QSA]
RewriteRule ^user/hosting/go/([^/]*)$ zapanel/hosting.php?go=$1 [L,QSA]
RewriteRule ^user/hosting/starif/([^/]*)$ zapanel/hosting.php?tarif=$1 [L,QSA]
RewriteRule ^user/hosting/pass/([^/]*)$ zapanel/hosting.php?pass=$1 [L,QSA]
RewriteRule ^user/listauth/?$ zapanel/authlist.php [L,QSA]
RewriteRule ^user/moneyhistory/?$ zapanel/history.php [L,QSA]
RewriteRule ^us/info/([0-9]+)/([0-9]+)/?$ modnn/usinfo.php?id=$1 [L,QSA]
RewriteRule ^adm/tickets/?$ zapanel/admincha/tiket.php [L,QSA]
RewriteRule ^adm/tarifs/?$ zapanel/admincha/tarifs.php [L,QSA]
RewriteRule ^adm/tickets/id/([^/]*)$ zapanel/admincha/tiket.php?id=$1 [L,QSA]
RewriteRule ^adm/tickets/close/?$ zapanel/admincha/tiket.php?act=close [L,QSA]
RewriteRule ^adm/products/?$ zapanel/admincha/products.php [L,QSA]
RewriteRule ^adm/history/?$ zapanel/admincha/logsmoney.php [L,QSA]
RewriteRule ^adm/guests/online/?$ page/guests.php [L,QSA]
RewriteRule ^gotomgr/?$ zapanel/gotomgr.php [L,QSA]
RewriteRule ^user/smenat/([^/]*)$ zapanel/smenat.php?id=$1 [L,QSA]
RewriteRule ^abuse/?$ page/abuse.php [L,QSA]
RewriteRule ^service/?$ zapanel/service.php [L,QSA]
RewriteRule ^service/sendmoney/?$ zapanel/smoney.php [L,QSA]
RewriteRule ^service/daccess/?$ zapanel/daccess.php [L,QSA]
RewriteRule ^authcp/?$ zapanel/authcp.php [L,QSA]
RewriteRule ^authcp/ok/?$ zapanel/authcp.php?mycp=ok [L,QSA]
RewriteRule ^authcp/access/([^/]*)$ zapanel/authcp.php?accesscp=$1 [L,QSA]
RewriteRule ^authcp/accessadm/([^/]*)$ zapanel/authadm.php?accesscp=$1 [L,QSA]

RewriteRule ^cp/?$ page/cp/index.php [L,QSA]
RewriteRule ^cp/exit/?$ page/cp/index.php?act=exit [L,QSA]
RewriteRule ^cp/index/?$ page/cp/mpro.php [L,QSA]
RewriteRule ^cp/ftp/?$ page/cp/ftp.php [L,QSA]
RewriteRule ^cp/ftp/delete/?$ page/cp/ftp.php?act=delete [L,QSA]
RewriteRule ^cp/ftp/creat/?$ page/cp/ftp.php?act=creat [L,QSA]

RewriteRule ^reks/?$ page/reks/index.php [L,QSA]
RewriteRule ^reks/sitem/?$ page/reks/sites.php [L,QSA]
RewriteRule ^reks/rekm/?$ page/reks/sitesm.php [L,QSA]

ErrorDocument 404 /?404
ErrorDocument 403 /?404